.app{
	width: 100%;
	&-container{
		width: 100%;
		padding: 1rem;
		position: relative;
	}
}
#admin_bar_iframe{
	display: none !important;
}
#SearchDrawer{
	display: none !important;
}
#shopify-section-header{
	//display: none !important;
}
#shopify-section-footer{
	display: none !important;
}
.in-page-link{
	display: none !important;
}

.logo{
	width: calc(100% - 4rem);
	max-width: 300px;
	img{
		width: 100%;
	}
}

div{
	display: block;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,p{
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5{
	font-family: $font-header;
	font-weight: 100;
	letter-spacing: 1px;
}
p,a{
	font-family: $font-copy;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 1.25rem;
}

h2{
	font-size: 1.5rem;
}
h4{
	font-size: 1rem;
}