<div class="blurb app-container">
  <div class="blurb-info">
    <div class="blurb-line"></div>
    <h3 class="blurb-info__header">{{ section.settings.title }}<h3>
    <p class="blurb-info__copy">{{ section.settings.copy }}</p>
  </div>
  <div class="blurb-content">
    <div class="blurb-content__image">
      <img src="{{ section.settings.photo | img_url: '400x400' }}">
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Blurb",
    "settings": [

      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "copy",
        "label": "copy"
      },
      {
        "type": "image_picker",
        "id": "photo",
        "label": "photo"
      }
    ]
  }
{% endschema %}
