<div class="blurb">
  
</div>
{% schema %}
  {
    "name": "Blurb",
    "settings": [

      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "copy",
        "label": "copy"
      },
      {
        "type": "image_picker",
        "id": "photo",
        "label": "photo"
      }
    ]
  }
{% endschema %}
