<div class="title">
  <h1>{{ section.settings.title }}</h1>
</div>
{% schema %}
  {
    "name": "Title",
    "settings": [

      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ]
  }
{% endschema %}
