<div class="title">
  <h1>{{ section.settings.title }}</h1>
  <p>{{ section.settings.copy }}</p>
</div>
{% schema %}
  {
    "name": "Title",
    "settings": [

      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "copy",
        "label": "Copy"
      }
    ]
  }
{% endschema %}
