<div class="main">
	<video loop playsinline autoplay muted>
  		<source src="{{ 'Render.webm' | asset_url }}" type="video/webm">
  		<source src="{{ 'NewCompRender.mp4' | asset_url }}" type="video/mp4">
  	</video>
</div>

<div class="content">
	<div class="content-1">
		<img src="{{ 'deathboys_logo.svg' | asset_url }}">
	</div>
	<div class="content-2">
		<img src="{{ 'goodbye-text.png' | asset_url }}">
	</div>
</div>