.header{
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 120;
	padding-bottom: 1.5rem;
	transition: background-color 0.4s;
	&.dark{
		background-color: transparent;
		.header{
			&-logo{
				&.back{
					width: 6.5rem;
				}
				&__color{
					fill: white;
				}
			}
			&-link{
				color: white;
			}
			&-cart{
				p{
					color: white;
				}
				&__color{
					fill:white;
				}
			}
		}

	}
	&.colored{
		background-color: $red-base;
		.header{
			&-logo{
				&.back{
					width: 6.5rem;
				}
				&__color{
					fill: white;
				}
			}
			&-link{
				color: white;
			}
			&-cart{
				p{
					color: white;
				}
				&__color{
					fill:white;
				}
			}
		}

	}
	&-link{
		text-decoration: none;
		color: $color-header;
		margin: 0 1rem;
		text-transform: lowercase;
		font-family: 'apercuBold';
		&.graveyard{
			opacity: 0.4;
			pointer-events: none;
		}
		&__container{
			padding-top: 1.75rem;
		}

	}

	&-logo{
		padding: 1rem 2rem;
		width: 10rem;
		float: left;
		position: absolute;
		top: 0;
		left: 0;
		img{
			width: 100%;
		}
		&:hover{
			cursor: pointer;
		}
	}
	&-cart{
		display: flex;
		position: absolute;
		top: 1.5rem;
		right: 2rem;
		justify-content: center;
		align-items: center;
		&:hover{
			cursor: pointer;
		}
		p{
			margin-right: 0.5rem;
		}
		&__icon{
			position: relative;
		}
		&__number{
			position: absolute;
			top: 15%;
			left: 25%;
		}
	}
}

///////////////////////////////
//Tablet
/////////////////////////////
@media screen and (max-width: 900px) {

}

///////////////////////////////
//Mobile
/////////////////////////////
@media screen and (max-width: 680px) {
	.header{
		height: 4.25rem;
		&-link{
			&__container{
				display: none;
			}
		}
	}
}


