.product{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
	width: 100%;
	height: 100vh;

	&-bg{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		height: 100vh;
		background-color: black;
		z-index: -1;
		animation: bgFadeIn 0.3s forwards;

	}

	&-container{
		background: $red-gradient;
		border-radius: 4px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
	}

	&-logo{
		width: 50%;
		margin: 2rem auto 0rem;
	}

	&-image{
		width: 100%;
		margin: auto;
		img{
			width: 100%;
		}
	}

	&-footer{
		padding-top: 2rem;
	}

	&-description{
		width: 50%;
		height: 100%;
		margin-left: calc(10% + 350px + 3rem);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h1{
			text-align: left;
			color: white;
		}
		p{
			padding-bottom: 1rem;
		}
		&__info{
			color: white;
		}
	}

}