.product{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;

	&-bg{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		height: 100vh;
		background-color: black;
		z-index: -1;
		animation: bgFadeIn 0.3s forwards;

	}

	&-container{
		background: $red-gradient;
		border-radius: 4px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
	}

	&-logo{
		width: 50%;
		margin: 2rem auto 0rem;
	}

	&-image{
		width: 60%;
		margin: auto;
		img{
			width: 100%;
		}
	}

	&-info{
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		margin: 0 0rem 0.5rem;
		padding: 0 0.5rem
	}

	&-footer{
		padding-top: 2rem;
	}

}