.title{
	margin: 8rem 3rem 3rem;
	text-align: center;
	font-size: 5rem;
	h1{
		font-size: 5rem;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: -2px;
	}
}

///////////////////////////////
//Tablet
/////////////////////////////
@media screen and (max-width: 900px) {
	.title{
		margin: 8rem 1rem 3rem;
		h1{
			font-size: 4rem;
		}
	}
}

///////////////////////////////
//Mobile
/////////////////////////////
@media screen and (max-width: 680px) {
	.title{
		h1{
			font-size: 3rem;
		}
	}
}